html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 100px;
  height: 60px;
  background: #f00;
  margin: 5px;
  flex: 1 0;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
